<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SoundCloud Downloadable</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="foundation.css" />
    <link rel="stylesheet" href="stroll.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="//connect.soundcloud.com/sdk.js"></script>
  </head>

  <body>
    <header class="row">
      <h1 class="small-12 columns"><%= @username %></h1>
    </header>
    <summary class="row">
      <p class="small-12 columns">Following: <%= @following_count %></p>
    </summary>
    <header class="row">
      <h2 class="small-12 columns">Download Stream</h2>
    </header>



    <script src="js/foundation/foundation.js"></script>
    <script src="js/stroll.min.js"></script>
    <script>
      stroll.bind('#main ul');
    </script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </body>
</html>