<header class="row">
  <h1 class="small-12 columns"><%= @username %></h1>
</header>
<summary class="row">
  <p class="small-12 columns">Following: <%= @following_count %></p>
</summary>
<header class="row">
  <h2 class="small-4 columns">Download Stream</h2>
  <a class="small-4 columns" href="/page_2" onclick="spinner();"><h6>My stream</h6></a>
  <a class="small-4 columns" href="/on_it" onclick="spinner();"><h6>Who's on it?</h6></a>
</header>
  <main class="row">
    <section class="small-12 columns" id="main">
      <article>
        <ul class="fly-reverse" id="stream">
          <% @ordered.each do |track| %>
            <li class="stream-list">
              <%= track %>
            </li>
          <% end %>
        </ul>
      </article>
    </section>
  </main>
